.navbar {
    background: rgb(0, 204, 255) !important;
    height: 70px;
}


.navbar-brand {
    font-family: "Verdanna", Geneva, sans-serif;
    color: white !important;
    font-size: 30px;
    text-align: center;
    background: rgba(0, 102, 255, 0.993);
    padding: 20px;
    margin-left: 50px;
}



.nav-item {
    font-family: "Verdanna", Geneva, sans-serif;
    font-size: 20px;
}

body {
    background: #f1f1f1f8;
}

.container {
    padding-top: 20px;
    padding-bottom: 0px;
}

.jumbotron {
    background: white;
    margin-top: 20px;
    height: 275px;
    padding: 10px;
}


Section {
    margin-top: 20px;
    margin-left: 225px;
    margin-right: 225px;
}


.display-4 {
    font-family: "Verdanna", Geneva, sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: rgba(0, 102, 255, 0.993);
}


.plot_title {
    font-family: "Verdanna", Geneva, sans-serif;
    font-size: 1.35em;
    color: rgba(0, 102, 255, 0.993);
    margin-left: 80px;
}


p {
    font-family: "Verdanna", Geneva, sans-serif;
}



.p1 {
    font-family: "Verdanna", Geneva, sans-serif;
    color: darkslategray;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    word-spacing: 5px;
}


.comparison {
    width: 315px;
    margin-left: 100px;
    padding: 5px;
}

.comparison:hover {
    box-shadow: 0 0 2px 1px rgba(0, 102, 255, 0.993);
}